.footer{
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    width: 100px;
}
.footer-logo p{
    color:#293790;
    font-size: 30px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color:#293790;
    font-size: 16px;
}
.footer-links li{
    cursor: pointer;
}
.footer-links li:hover{
    color: #F78C21;
}
.social-icon{
   display: flex; 
   gap: 10px;
}

.icon-container{
    padding: 10px;
    padding-bottom: 6px;
    background: white;
  
}
.footer-copyright{
   display: flex; 
   flex-direction: column;
   align-items: center;
   gap: 10px;
   width: 100%;
   color: #293790;
   font-size: 10px;
   margin-bottom: 20px;
}
.footer-copyright hr{
        width: 700px;
        height: 3px;
        border-radius: 10px;
        background: #F78C21;
    
}


