.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.popular h1{
    color: #293790;
    font-size: 30px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background: #F78C21;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}